<%- include('layouts/head', {title: 'Камень ножницы бумага', bootstrap5 : false}) -%>
    <div class="wrapper col-xl-5 col-lg-6 col-md-7 col-sm-9 col-10 text-center mx-auto">
        <div class="wrapper__topside">
            <div class="wrapper__inner border-round-bottom bg_theme-main pt-2 pb-4">
                <header class="container heading mb-3">
                    <div class="row">
                        <div class="col">
                            <h1 class="heading__text text_theme-h1">Камень ножницы бумага</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10 mx-auto">
                            <div class="heading__shadow"></div>
                        </div>
                    </div>
                </header>
                <section class="container rules mb-4">
                    <div class="row">
                        <div class="col">
                            <h2 class="rules__header text_theme-h2 pb-2">Правила</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-11 mx-auto">
                            <ul class="list-group list-group-flush rules__list list">
                                <li class="list-group-item list__item">1. Создайте комнату для игры</li>
                                <li class="list-group-item list__item">2. Перейдите в комнату</li>
                                <li class="list-group-item list__item">3. Поделитесь ссылкой на комнату</li>
                                <li class="list-group-item list__item">4. Играйте !</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="container create-lobby">
                    <div class="row">
                        <div class="col-6 d-grid gap-1 mx-auto d-flex justify-content-center align-items-center">
                            <button id="create-btn" href="/room" type="click" class="btn create-lobby__btn btn_theme-main">Создать комнату</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="wrapper__bottomside border-round-top col-5 mx-auto">
            <footer class="container lobby pt-1 mb-2">
                <div class="row">
                    <div class="col">
                        <h2 class="lobby__header text_theme-h2">
                            Ваши комнаты
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-11 mx-auto">
                        <div class="list-group lobby__list list">
                            <span id="output-rooms"></span>
                            <% for(var i=0; i<rooms.length; i++) {%>
                                <% if(i == 0) { %>
                                    <div>
                                        <a href="/room/<%= rooms[i].name %>" class="list-group-item list-group-item-action list-group-item-primary">Комната <%= rooms[i].name %></a>
                                        <span class="remove-btn" date-room="<%= rooms[i].name %>">Удалить</span>
                                    </div>
                                    <% } %>
                                        <% if(i == 1) { %>
                                            <div>
                                                <a href="/room/<%= rooms[i].name %>" class="list-group-item list-group-item-action list-group-item-success">Комната <%= rooms[i].name %></a>
                                                <span class="remove-btn" date-room="<%= rooms[i].name %>">Удалить</span>
                                            </div>
                                            <% } %>
                                                <% if(i == 2) { %>
                                                    <div>
                                                        <a href="/room/<%= rooms[i].name %>" class="list-group-item list-group-item-action list-group-item-danger">Комната <%= rooms[i].name %></a>
                                                        <span class="remove-btn" date-room="<%= rooms[i].name %>">Удалить</span>
                                                    </div>
                                                    <% } %>
                                                        <% if(i == 3) { %>
                                                            <div>
                                                                <a href="/room/<%= rooms[i].name %>" class="list-group-item list-group-item-action list-group-item-warning">Комната <%= rooms[i].name %></a>
                                                                <span class="remove-btn" date-room="<%= rooms[i].name %>">Удалить</span>
                                                            </div>
                                                            <% } %>
                                                                <% if(i == 4) { %>
                                                                    <div>
                                                                        <a href="/room/<%= rooms[i].name %>" class="list-group-item list-group-item-action list-group-item-info">Комната <%= rooms[i].name %></a>
                                                                        <span class="remove-btn" date-room="<%= rooms[i].name %>">Удалить</span>
                                                                    </div>
                                                                    <% } %>
                                                                        <% } %>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </body>
    <script src="/js/rooms.js"></script>

    </html>